<% provide(:title, "Home") %>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <div class="center jumbotron">
      <h2>This is a home page for employees-info</h2>
      <%= link_to 'Sign up', "#s", class: "btn btn-lg btn-primary" %>
    </div>
  </body>
</html>