<% provide(:title, "Add employee") %>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <div class="container">
      <div class="sign-up-content jumbotron">
        <h3>Add employee</h3>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= render 'employees/form', btn_text: "Add" %>
            <%= button_to 'Back', get_current_user, method: :get, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
